* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: white;
}

body, div, nav {
    box-sizing: border-box;
}


#navbar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3em;
    column-gap: 2em;

    background-color: black;
}


#welcome-section{
    height: 100vh;

    background-color: darkgray;

    color: white;

    display: flex;
    justify-content:center;
    align-items:center;
}

#welcome-section h1 {
    font-size:4em
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
}




#projects {
    padding: 2em;

    display: flex;
    flex-wrap: wrap;

    justify-content:center;
    align-content: flex-start;

    column-gap: 2em;
    row-gap: 2em;
}
#projects a{
    color: black;
}
#projects .project-tile {
    width: 300px;
    border: 2px solid gray;

    display: flex;
    flex-direction:column;

    border-radius: 2em;
    overflow: hidden;
    height: 100%;
}
#projects .project-tile > div {
    width: 100%;
}
#projects .project-tile > div.img {
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;
}
#projects .project-tile > div.text {

    display: flex;
    justify-content:center;
    align-items: flex-end;
    padding: 1em 2em;
}

#projects .project-tile > div > img {
    max-width: 100%;
    max-height: 100%;
}


#footer {
    background-color: black;
    display:flex;
    justify-content:center;
}
#footer > a {
}
#footer > a > img{
    height: 60px;
    width: 60px;
    margin: 20px;
    border-radius: 50%;
}